<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @note.user.username, user_path(@note.user) %>
</p>
<p>
  <strong>Time:</strong>
  <%= @note.created_at %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
