
<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Owner:</strong>
  <% if not @note.user.name.nil? %>
      <%= @note.user.name %>
  <% else %>
    <%= @note.user.email %>
  <% end %>
</p>
<p>
  <strong>Time:</strong>
  <%= @note.created_at.localtime().strftime("%I:%M%p %m/%d/%Y") %>
</p>

<%= link_to 'Home', home_user_path(@note.user) %> |
<%= link_to 'Edit', edit_note_path(@note) %>
